In [1]:
import pandas as pd
import numpy as np

In [2]:
m=pd.read_csv('dataset/mlbsalaries.csv')
m

       Year           Player   Salary           Position                Team
0      1988        Mike Witt  1400000            Pitcher  Los Angeles Angels
1      1988  George Hendrick   989333         Outfielder  Los Angeles Angels
2      1988      Chili Davis   950000         Outfielder  Los Angeles Angels
3      1988    Brian Downing   900000  Designated Hitter  Los Angeles Angels
4      1988        Bob Boone   883000            Catcher  Los Angeles Angels
...     ...              ...      ...                ...                 ...
19538  2011   Gustavo Molina   455000            Catcher    New York Yankees
19539  2011        Ivan Nova   432900            Pitcher    New York Yankees
19540  2011     Colin Curtis   420400         Outfielder    New York Yankees
19541  2011    Eduardo Nunez   419300          Shortstop    New York Yankees
19542  2011    Reegie Corona   414000     Second Baseman    New York Yankees

[19543 rows x 5 columns]

# 1 how to find out all total numbers of records?#

In [3]:
m.shape[0]

19543

#  2. How to find out total no. of columns?#

In [4]:
m.shape[1]

5

# 3.  Display all column names ?#

In [5]:
m.columns

Index(['Year', 'Player', 'Salary', 'Position', 'Team'], dtype='object')

#  4.  Show only maximum salary value?

In [6]:
m.Salary.max()

33000000

#  5. Show only mininum salary value?

In [7]:
m.Salary.min()

62500

# 6. Show Maximum salary complete record?

In [8]:
m[m.Salary==m.Salary.max()].head(1)

       Year          Player    Salary       Position              Team
17846  2009  Alex Rodriguez  33000000  Third Baseman  New York Yankees

# 7. Show Minimum salary complete record?

In [9]:
m[m.Salary==m.Salary.min()].head(1)

    Year       Player  Salary    Position                Team
21  1988  Thad Bosley   62500  Outfielder  Los Angeles Angels

# 8. Show all records Team Wise Details?

In [10]:
a=m.groupby("Team")
a


for Team,data in a:
    print("Team:",Team)
    print("\n")
    print("data:",data)

Team: Arizona Diamondbacks


data:        Year            Player   Salary       Position                  Team
7951   1998        Andy Benes  6000000        Pitcher  Arizona Diamondbacks
7952   1998          Jay Bell  5000000      Shortstop  Arizona Diamondbacks
7953   1998  Matt D. Williams  4500000  Third Baseman  Arizona Diamondbacks
7954   1998       Devon White  3500000     Outfielder  Arizona Diamondbacks
7955   1998      Willie Blair  3250000        Pitcher  Arizona Diamondbacks
...     ...               ...      ...            ...                   ...
18949  2011        Dan Hudson   419000        Pitcher  Arizona Diamondbacks
18950  2011     Barry Enright   418000        Pitcher  Arizona Diamondbacks
18951  2011      Samuel Demel   417000        Pitcher  Arizona Diamondbacks
18952  2011      Kam Mickolio   417000        Pitcher  Arizona Diamondbacks
18953  2011      Joe Paterson   414000        Pitcher  Arizona Diamondbacks

[389 rows x 5 columns]
Team: Atlanta Braves


data:        Year              Player   Salary        Position            Team
104    1988         Dale Murphy  2000000      Outfielder  Atlanta Braves
105    1988        Bruce Sutter  1729167         Pitcher  Atlanta Braves
106    1988        Ozzie Virgil   900000         Catcher  Atlanta Braves
107    1988         Rick Mahler   837500         Pitcher  Atlanta Braves
108    1988      Bruce Benedict   715000         Catcher  Atlanta Braves
...     ...                 ...      ...             ...             ...
18840  2011  Cristhian Martinez   419000         Pitcher  Atlanta Braves
18841  2011      Brandon Beachy   416500         Pitcher  Atlanta Braves
18842  2011     Freddie Freeman   414000   First Baseman  Atlanta Braves
18843  2011       Brandon Hicks   414000       Shortstop  Atlanta Braves
18844  2011       Matt E. Young   414000  Second Baseman  Atlanta Braves

[683 rows x 5 columns]
Team: Baltimore Orioles


data:        Year          Player   Salary       Position               Team
373    1988    Eddie Murray  2142904  First Baseman  Baltimore Orioles
374    1988  Cal Ripken Jr.  1710000      Shortstop  Baltimore Orioles
375    1988   Terry Kennedy   850000        Catcher  Baltimore Orioles
376    1988  Tom Niedenfuer   850000        Pitcher  Baltimore Orioles
377    1988        Don Aase   675000        Pitcher  Baltimore Orioles
...     ...             ...      ...            ...                ...
19174  2011    Jason Berken   426500        Pitcher  Baltimore Orioles
19175  2011        Jake Fox   424000  First Baseman  Baltimore Orioles
19176  2011   Robert Andino   421500      Infielder  Baltimore Orioles
19177  2011    Jake Arrieta   419000        Pitcher  Baltimore Orioles
19178  2011   Chris Tillman   417000        Pitcher  Baltimore Orioles

[684 rows x 5 columns]
Team: Boston Red Sox


data:        Year            Player   Salary        Position            Team
528    1988          Jim Rice  2214865      Outfielder  Boston Red Sox
529    1988        Wade Boggs  1700000   Third Baseman  Boston Red Sox
530    1988      Dwight Evans  1600000      Outfielder  Boston Red Sox
531    1988     Roger Clemens  1500000         Pitcher  Boston Red Sox
532    1988       Bob Stanley  1060000         Pitcher  Boston Red Sox
...     ...               ...      ...             ...             ...
19376  2011     Clay Buchholz   555000         Pitcher  Boston Red Sox
19377  2011       Daniel Bard   505000         Pitcher  Boston Red Sox
19378  2011  Darnell McDonald   470000      Outfielder  Boston Red Sox
19379  2011        Jed Lowrie   450000  Second Baseman  Boston Red Sox
19380  2011    Felix Doubront   417000         Pitcher  Boston Red Sox

[692 rows x 5 columns]
Team: Chicago Cubs


data:        Year           Player   Salary    Position          Team
184    1988   Rick Sutcliffe  2070000     Pitcher  Chicago Cubs
185    1988     Andre Dawson  1900000  Outfielder  Chicago Cubs
186    1988       Jody Davis  1108333     Catcher  Chicago Cubs
187    1988    Goose Gossage  1100000     Pitcher  Chicago Cubs
188    1988  Scott Sanderson   950000     Pitcher  Chicago Cubs
...     ...              ...      ...         ...           ...
18922  2011     Tyler Colvin   440000  Outfielder  Chicago Cubs
18923  2011   Andrew Cashner   427500     Pitcher  Chicago Cubs
18924  2011    James Russell   427500     Pitcher  Chicago Cubs
18925  2011    Darwin Barney   417000   Shortstop  Chicago Cubs
18926  2011     Marcos Mateo   417000     Pitcher  Chicago Cubs

[663 rows x 5 columns]
Team: Chicago White Sox


data:        Year             Player   Salary        Position               Team
632    1988      Harold Baines  1000000      Outfielder  Chicago White Sox
633    1988       Carlton Fisk   700000         Catcher  Chicago White Sox
634    1988        Greg Walker   682452   First Baseman  Chicago White Sox
635    1988      Ozzie Guillen   537500       Shortstop  Chicago White Sox
636    1988        Jerry Reuss   400000         Pitcher  Chicago White Sox
...     ...                ...      ...             ...                ...
19508  2011     Gordon Beckham   485000  Second Baseman  Chicago White Sox
19509  2011      Sergio Santos   435000         Pitcher  Chicago White Sox
19510  2011  Brent Lillibridge   430000  Second Baseman  Chicago White Sox
19511  2011         Chris Sale   425000         Pitcher  Chicago White Sox
19512  2011        Brent Morel   414000   Third Baseman  Chicago White Sox

[648 rows x 5 columns]
Team: Cincinnati Reds


data:        Year          Player   Salary       Position             Team
500    1988     Leon Durham  1383333  First Baseman  Cincinnati Reds
501    1988      Eric Davis   899000     Outfielder  Cincinnati Reds
502    1988         Bo Diaz   850000        Catcher  Cincinnati Reds
503    1988     John Franco   675000        Pitcher  Cincinnati Reds
504    1988     Nick Esasky   460000  First Baseman  Cincinnati Reds
...     ...             ...      ...            ...              ...
19349  2011  Logan Ondrusek   418000        Pitcher  Cincinnati Reds
19350  2011    Jordan Smith   416500        Pitcher  Cincinnati Reds
19351  2011    Matt Maloney   415000        Pitcher  Cincinnati Reds
19352  2011  Juan Francisco   414000  Third Baseman  Cincinnati Reds
19353  2011      Sam Lecure   414000        Pitcher  Cincinnati Reds

[681 rows x 5 columns]
Team: Cleveland Indians


data:        Year           Player  Salary        Position               Team
268    1988     Julio Franco  975000  Second Baseman  Cleveland Indians
269    1988    Willie Upshaw  900000   First Baseman  Cleveland Indians
270    1988       Joe Carter  840000      Outfielder  Cleveland Indians
271    1988         Mel Hall  825000      Outfielder  Cleveland Indians
272    1988     Brook Jacoby  812500   Third Baseman  Cleveland Indians
...     ...              ...     ...             ...                ...
19036  2011   Carlos Santana  416600         Catcher  Cleveland Indians
19037  2011  Carlos Carrasco  415800         Pitcher  Cleveland Indians
19038  2011   Justin Germano  415600         Pitcher  Cleveland Indians
19039  2011   Vinnie Pestano  414100         Pitcher  Cleveland Indians
19040  2011    Jared Goedert  414000       Infielder  Cleveland Indians

[693 rows x 5 columns]
Team: Colorado Rockies


data:        Year            Player   Salary        Position              Team
4463   1993     Charlie Hayes  1200000   Third Baseman  Colorado Rockies
4464   1993    Dante Bichette   725000      Outfielder  Colorado Rockies
4465   1993      Jeff Parrett   725000         Pitcher  Colorado Rockies
4466   1993      Jerald Clark   690000      Outfielder  Colorado Rockies
4467   1993       Joe Girardi   670000         Catcher  Colorado Rockies
...     ...               ...      ...             ...               ...
19402  2011      Jose Morales   420000         Catcher  Colorado Rockies
19403  2011    Jhoulys Chacin   419000         Pitcher  Colorado Rockies
19404  2011  Jonathan Herrera   419000  Second Baseman  Colorado Rockies
19405  2011      Esmil Rogers   417000         Pitcher  Colorado Rockies
19406  2011     Matt Reynolds   415000         Pitcher  Colorado Rockies

[528 rows x 5 columns]
Team: Detroit Tigers


data:        Year               Player   Salary        Position            Team
578    1988          Jack Morris  1988000         Pitcher  Detroit Tigers
579    1988            Fred Lynn  1790000      Outfielder  Detroit Tigers
580    1988  Guillermo Hernandez  1210000         Pitcher  Detroit Tigers
581    1988         Frank Tanana  1100000         Pitcher  Detroit Tigers
582    1988        Alan Trammell  1000000       Shortstop  Detroit Tigers
...     ...                  ...      ...             ...             ...
19456  2011            Don Kelly   423000      Outfielder  Detroit Tigers
19457  2011          Will Rhymes   419000  Second Baseman  Detroit Tigers
19458  2011     Daniel Schlereth   418000         Pitcher  Detroit Tigers
19459  2011         Casper Wells   418000      Outfielder  Detroit Tigers
19460  2011    Brayan Villarreal   414000         Pitcher  Detroit Tigers

[676 rows x 5 columns]
Team: Florida Marlins


data:        Year            Player   Salary       Position             Team
4186   1993      Bryan Harvey  4125000        Pitcher  Florida Marlins
4187   1993   Benito Santiago  3400000        Catcher  Florida Marlins
4188   1993  Orestes Destrade  2000000  First Baseman  Florida Marlins
4189   1993      Junior Felix  1250000     Outfielder  Florida Marlins
4190   1993    Jack Armstrong   854545        Pitcher  Florida Marlins
...     ...               ...      ...            ...              ...
19092  2011     Scott Cousins   414000     Outfielder  Florida Marlins
19093  2011      Michael Dunn   414000        Pitcher  Florida Marlins
19094  2011       Brett Hayes   414000        Catcher  Florida Marlins
19095  2011    Logan Morrison   414000     Outfielder  Florida Marlins
19096  2011         Ryan Webb   414000        Pitcher  Florida Marlins

[533 rows x 5 columns]
Team: Houston Astros


data:        Year              Player   Salary       Position            Team
26     1988          Nolan Ryan  1200000        Pitcher  Houston Astros
27     1988          Dave Smith  1100000        Pitcher  Houston Astros
28     1988         Bob Knepper  1025000        Pitcher  Houston Astros
29     1988          Terry Puhl   950000     Outfielder  Houston Astros
30     1988      Rafael Ramirez   950000      Shortstop  Houston Astros
...     ...                 ...      ...            ...             ...
18755  2011       Mark Melancon   421000        Pitcher  Houston Astros
18756  2011       Fernando Abad   418000        Pitcher  Houston Astros
18757  2011       Brett Wallace   418000  First Baseman  Houston Astros
18758  2011  Enerio Del Rosario   417000        Pitcher  Houston Astros
18759  2011    Aneury Rodriguez   414000        Pitcher  Houston Astros

[660 rows x 5 columns]
Team: Kansas City Royals


data:        Year             Player   Salary       Position                Team
554    1988       George Brett  2138661  First Baseman  Kansas City Royals
555    1988      Willie Wilson  1383712     Outfielder  Kansas City Royals
556    1988  Charlie Leibrandt  1250000        Pitcher  Kansas City Royals
557    1988    Bret Saberhagen  1150000        Pitcher  Kansas City Royals
558    1988    Floyd Bannister   950000        Pitcher  Kansas City Royals
...     ...                ...      ...            ...                 ...
19429  2011    Jeremy Jeffress   414500        Pitcher  Kansas City Royals
19430  2011        Nate Adcock   414000        Pitcher  Kansas City Royals
19431  2011      Henry Barrera   414000        Pitcher  Kansas City Royals
19432  2011        Tim Collins   414000        Pitcher  Kansas City Royals
19433  2011       Jarrod Dyson   414000     Outfielder  Kansas City Royals

[674 rows x 5 columns]
Team: Los Angeles Angels


data:        Year           Player   Salary           Position                Team
0      1988        Mike Witt  1400000            Pitcher  Los Angeles Angels
1      1988  George Hendrick   989333         Outfielder  Los Angeles Angels
2      1988      Chili Davis   950000         Outfielder  Los Angeles Angels
3      1988    Brian Downing   900000  Designated Hitter  Los Angeles Angels
4      1988        Bob Boone   883000            Catcher  Los Angeles Angels
...     ...              ...      ...                ...                 ...
18726  2011     Michael Kohn   414000            Pitcher  Los Angeles Angels
18727  2011     Chris Pettit   414000         Outfielder  Los Angeles Angels
18728  2011  Freddy Sandoval   414000      Third Baseman  Los Angeles Angels
18729  2011      Mark Trumbo   414000      First Baseman  Los Angeles Angels
18730  2011    Jordan Walden   414000            Pitcher  Los Angeles Angels

[695 rows x 5 columns]
Team: Los Angeles Dodgers


data:        Year               Player   Salary    Position                 Team
211    1988  Fernando Valenzuela  2050000     Pitcher  Los Angeles Dodgers
212    1988          Kirk Gibson  1833333  Outfielder  Los Angeles Dodgers
213    1988       Orel Hershiser  1100000     Pitcher  Los Angeles Dodgers
214    1988           John Tudor  1100000     Pitcher  Los Angeles Dodgers
215    1988         Jesse Orosco  1000000     Pitcher  Los Angeles Dodgers
...     ...                  ...      ...         ...                  ...
18979  2011       Hector Gimenez   425000     Catcher  Los Angeles Dodgers
18980  2011           A.J. Ellis   421000     Catcher  Los Angeles Dodgers
18981  2011          Xavier Paul   419500  Outfielder  Los Angeles Dodgers
18982  2011        Kenley Jansen   416000     Pitcher  Los Angeles Dodgers
18983  2011         Ivan DeJesus   414000   Shortstop  Los Angeles Dodgers

[698 rows x 5 columns]
Team: Milwaukee Brewers


data:        Year            Player   Salary        Position               Team
130    1988      Paul Molitor  1775000   Third Baseman  Milwaukee Brewers
131    1988       Robin Yount  1200000      Outfielder  Milwaukee Brewers
132    1988     Teddy Higuera  1025000         Pitcher  Milwaukee Brewers
133    1988       Jim Gantner   937500  Second Baseman  Milwaukee Brewers
134    1988   Jeffrey Leonard   900000      Outfielder  Milwaukee Brewers
...     ...               ...      ...             ...                ...
18870  2011     Mitch Stetter   427000         Pitcher  Milwaukee Brewers
18871  2011     Zach Braddock   424000         Pitcher  Milwaukee Brewers
18872  2011   Jonathan Lucroy   424000         Catcher  Milwaukee Brewers
18873  2011     Erick Almonte   414000       Infielder  Milwaukee Brewers
18874  2011  Brandon Kintzler   414000         Pitcher  Milwaukee Brewers

[690 rows x 5 columns]
Team: Minnesota Twins


data:        Year          Player   Salary        Position             Team
604    1988     Frank Viola  1500000         Pitcher  Minnesota Twins
605    1988     Gary Gaetti  1425000   Third Baseman  Minnesota Twins
606    1988      Kent Hrbek  1410000   First Baseman  Minnesota Twins
607    1988   Kirby Puckett  1090000      Outfielder  Minnesota Twins
608    1988   Bert Blyleven  1000000         Pitcher  Minnesota Twins
...     ...             ...      ...             ...              ...
19481  2011  Danny Valencia   437500   Third Baseman  Minnesota Twins
19482  2011     Drew Butera   429000         Catcher  Minnesota Twins
19483  2011    Dusty Hughes   429000         Pitcher  Minnesota Twins
19484  2011    Matt Tolbert   425000  Second Baseman  Minnesota Twins
19485  2011    Jeff Manship   419000         Pitcher  Minnesota Twins

[650 rows x 5 columns]
Team: New York Mets


data:        Year             Player   Salary        Position           Team
321    1988        Gary Carter  2360714         Catcher  New York Mets
322    1988    Keith Hernandez  1850000   First Baseman  New York Mets
323    1988      Dwight Gooden  1400000         Pitcher  New York Mets
324    1988  Darryl Strawberry  1345000      Outfielder  New York Mets
325    1988        Ron Darling  1000000         Pitcher  New York Mets
...     ...                ...      ...             ...            ...
19119  2011         Josh Thole   420000         Catcher  New York Mets
19120  2011        Pedro Beato   414000         Pitcher  New York Mets
19121  2011         Lucas Duda   414000      Outfielder  New York Mets
19122  2011         Brad Emaus   414000  Second Baseman  New York Mets
19123  2011       Mike Nickeas   414000         Catcher  New York Mets

[676 rows x 5 columns]
Team: New York Yankees


data:        Year            Player   Salary        Position              Team
659    1988        Jack Clark  2000000      Outfielder  New York Yankees
660    1988     Don Mattingly  2000000   First Baseman  New York Yankees
661    1988     Dave Winfield  1983652      Outfielder  New York Yankees
662    1988  Rickey Henderson  1770000      Outfielder  New York Yankees
663    1988     Dave Righetti  1300000         Pitcher  New York Yankees
...     ...               ...      ...             ...               ...
19538  2011    Gustavo Molina   455000         Catcher  New York Yankees
19539  2011         Ivan Nova   432900         Pitcher  New York Yankees
19540  2011      Colin Curtis   420400      Outfielder  New York Yankees
19541  2011     Eduardo Nunez   419300       Shortstop  New York Yankees
19542  2011     Reegie Corona   414000  Second Baseman  New York Yankees

[685 rows x 5 columns]
Team: Oakland Athletics


data:        Year            Player   Salary       Position               Team
51     1988   Carney Lansford  1535000  Third Baseman  Oakland Athletics
52     1988       Dave Parker  1000000     Outfielder  Oakland Athletics
53     1988         Bob Welch   937500        Pitcher  Oakland Athletics
54     1988    Rick Honeycutt   855000        Pitcher  Oakland Athletics
55     1988  Dennis Eckersley   700000        Pitcher  Oakland Athletics
...     ...               ...      ...            ...                ...
18783  2011     Jerry Blevins   420000        Pitcher  Oakland Athletics
18784  2011  Giovany Gonzalez   420000        Pitcher  Oakland Athletics
18785  2011  Cliff Pennington   420000      Shortstop  Oakland Athletics
18786  2011     Landon Powell   420000        Catcher  Oakland Athletics
18787  2011        Bob Cramer   414000        Pitcher  Oakland Athletics

[674 rows x 5 columns]
Team: Philadelphia Phillies


data:        Year            Player   Salary        Position                   Team
421    1988      Mike Schmidt  2250000   Third Baseman  Philadelphia Phillies
422    1988         Von Hayes  1300000   First Baseman  Philadelphia Phillies
423    1988       Juan Samuel  1060000  Second Baseman  Philadelphia Phillies
424    1988     Lance Parrish  1000000         Catcher  Philadelphia Phillies
425    1988   Steve Bedrosian   925000         Pitcher  Philadelphia Phillies
...     ...               ...      ...             ...                    ...
19235  2011      Brian Bocock   414000       Shortstop  Philadelphia Phillies
19236  2011     Domonic Brown   414000      Outfielder  Philadelphia Phillies
19237  2011  Michael Martinez   414000  Second Baseman  Philadelphia Phillies
19238  2011     John Mayberry   414000      Outfielder  Philadelphia Phillies
19239  2011   Brian Schlitter   414000         Pitcher  Philadelphia Phillies

[695 rows x 5 columns]
Team: Pittsburgh Pirates


data:        Year            Player  Salary       Position                Team
447    1988    Andy Van Slyke  850000     Outfielder  Pittsburgh Pirates
448    1988      Glenn Wilson  850000     Outfielder  Pittsburgh Pirates
449    1988     Ken Oberkfell  725000  Third Baseman  Pittsburgh Pirates
450    1988          Jim Gott  500000        Pitcher  Pittsburgh Pirates
451    1988  Jeff D. Robinson  475000        Pitcher  Pittsburgh Pirates

# 9. Show all records Year Wise Details?

In [11]:
a.Year.value_counts()

Team                  Year
Arizona Diamondbacks  2002    33
                      1999    32
                      2004    29
                      2000    28
                      2001    28
                              ..
Washington Nationals  1997    26
                      1998    26
                      2003    26
                      1994    25
                      1996    25
Name: Year, Length: 690, dtype: int64

# 10. Show all player names which position=Pitcher?

In [12]:
n=m[m.Position=='Pitcher'].Player

In [13]:
n

0              Mike Witt
6              Dan Petry
9            Greg Minton
12        Kirk McCaskill
15         Willie Fraser
              ...
19532        Boone Logan
19533      Bartolo Colon
19534         Luis Ayala
19536    David Robertson
19539          Ivan Nova
Name: Player, Length: 9160, dtype: object

# How to find out all missing values count in all columns?#

In [14]:
m.isnull().sum()

Year        0
Player      0
Salary      0
Position    0
Team        0
dtype: int64

#  12. Show Team wise Salaries Total?

In [15]:
a.Salary.sum()

Team
Arizona Diamondbacks      946201895
Atlanta Braves           1542085753
Baltimore Orioles        1298762402
Boston Red Sox           1930916542
Chicago Cubs             1553704710
Chicago White Sox        1345835356
Cincinnati Reds          1096955520
Cleveland Indians        1131273056
Colorado Rockies         1024537935
Detroit Tigers           1299947476
Florida Marlins           655397557
Houston Astros           1255881249
Kansas City Royals        902090903
Los Angeles Angels       1451520771
Los Angeles Dodgers      1639707332
Milwaukee Brewers         969994869
Minnesota Twins           975014771
New York Mets            1750206095
New York Yankees         2599882202
Oakland Athletics         950914242
Philadelphia Phillies    1407873063
Pittsburgh Pirates        734547656
San Diego Padres          937123511
San Francisco Giants     1382126239
Seattle Mariners         1391042325
St. Louis Cardinals      1404586805
Tampa Bay Rays            577415784
Texas Rangers            1305703785
Toronto Blue Jays        1229932314
Washington Nationals      769172205
Name: Salary, dtype: int64

#  13. Count All Players Team wise ?

In [16]:
a.Player.count()

Team
Arizona Diamondbacks     389
Atlanta Braves           683
Baltimore Orioles        684
Boston Red Sox           692
Chicago Cubs             663
Chicago White Sox        648
Cincinnati Reds          681
Cleveland Indians        693
Colorado Rockies         528
Detroit Tigers           676
Florida Marlins          533
Houston Astros           660
Kansas City Royals       674
Los Angeles Angels       695
Los Angeles Dodgers      698
Milwaukee Brewers        690
Minnesota Twins          650
New York Mets            676
New York Yankees         685
Oakland Athletics        674
Philadelphia Phillies    695
Pittsburgh Pirates       669
San Diego Padres         673
San Francisco Giants     678
Seattle Mariners         684
St. Louis Cardinals      693
Tampa Bay Rays           398
Texas Rangers            711
Toronto Blue Jays        683
Washington Nationals     687
Name: Player, dtype: int64

#  14. Show all unique Team names?

In [17]:
b=m.Team.unique()
b

array(['Los Angeles Angels', 'Houston Astros', 'Oakland Athletics',
       'Toronto Blue Jays', 'Atlanta Braves', 'Milwaukee Brewers',
       'St. Louis Cardinals', 'Chicago Cubs', 'Los Angeles Dodgers',
       'San Francisco Giants', 'Cleveland Indians', 'Seattle Mariners',
       'New York Mets', 'Washington Nationals', 'Baltimore Orioles',
       'San Diego Padres', 'Philadelphia Phillies', 'Pittsburgh Pirates',
       'Texas Rangers', 'Cincinnati Reds', 'Boston Red Sox',
       'Kansas City Royals', 'Detroit Tigers', 'Minnesota Twins',
       'Chicago White Sox', 'New York Yankees', 'Florida Marlins',
       'Colorado Rockies', 'Arizona Diamondbacks', 'Tampa Bay Rays'],
      dtype=object)

# 15. Display Total no. of Unique Teams?

In [18]:
m.Team.nunique()

30

# How to find out year wise total count?

In [19]:
y=m.groupby('Year')
for Year,data in y:
    print("Year",Year)
    print("\n")
    print("data",data)

Year 1988


data      Year           Player   Salary           Position                Team
0    1988        Mike Witt  1400000            Pitcher  Los Angeles Angels
1    1988  George Hendrick   989333         Outfielder  Los Angeles Angels
2    1988      Chili Davis   950000         Outfielder  Los Angeles Angels
3    1988    Brian Downing   900000  Designated Hitter  Los Angeles Angels
4    1988        Bob Boone   883000            Catcher  Los Angeles Angels
..    ...              ...      ...                ...                 ...
681  1988    Dale Mohorcic   157500            Pitcher    New York Yankees
682  1988    Steve Shields   110000            Pitcher    New York Yankees
683  1988     Joel Skinner   110000            Catcher    New York Yankees
684  1988    Roberto Kelly    67000         Outfielder    New York Yankees
685  1988        Al Leiter    67000            Pitcher    New York Yankees

[686 rows x 5 columns]
Year 1989


data       Year           Player   Salary    Position                Team
686   1989        Mike Witt  1400000     Pitcher  Los Angeles Angels
687   1989      Chili Davis  1275000  Outfielder  Los Angeles Angels
688   1989    Brian Downing  1250000  Outfielder  Los Angeles Angels
689   1989    Bert Blyleven  1225000     Pitcher  Los Angeles Angels
690   1989    Lance Parrish  1000000     Catcher  Los Angeles Angels
...    ...              ...      ...         ...                 ...
1391  1989    Roberto Kelly    80000  Outfielder    New York Yankees
1392  1989        Al Leiter    80000     Pitcher    New York Yankees
1393  1989    Randy Velarde    72500   Shortstop    New York Yankees
1394  1989  Alvaro Espinoza    68000   Shortstop    New York Yankees
1395  1989  Bernie Williams    68000  Outfielder    New York Yankees

[710 rows x 5 columns]
Year 1990


data       Year         Player   Salary       Position                Team
1396  1990  Lance Parrish  1916667        Catcher  Los Angeles Angels
1397  1990  Mark Langston  1800000        Pitcher  Los Angeles Angels
1398  1990   Wally Joyner  1750000  First Baseman  Los Angeles Angels
1399  1990    Chili Davis  1375000     Outfielder  Los Angeles Angels
1400  1990      Mike Witt  1300000        Pitcher  Los Angeles Angels
...    ...            ...      ...            ...                 ...
2363  1990  Brian Dorsett   107000        Catcher    New York Yankees
2364  1990    Dave Eiland   103500        Pitcher    New York Yankees
2365  1990     Van Snider   102000     Outfielder    New York Yankees
2366  1990     Alan Mills   100000        Pitcher    New York Yankees
2367  1990   Willie Smith   100000        Pitcher    New York Yankees

[972 rows x 5 columns]
Year 1991


data       Year           Player   Salary       Position                Team
2368  1991    Mark Langston  3550000        Pitcher  Los Angeles Angels
2369  1991    Dave Winfield  3300000     Outfielder  Los Angeles Angels
2370  1991      Gary Gaetti  2700000  Third Baseman  Los Angeles Angels
2371  1991     Chuck Finley  2500000        Pitcher  Los Angeles Angels
2372  1991    Lance Parrish  2416667        Catcher  Los Angeles Angels
...    ...              ...      ...            ...                 ...
3083  1991     Mike Blowers   130000  Third Baseman    New York Yankees
3084  1991  Hensley Meulens   120000     Outfielder    New York Yankees
3085  1991      Dave Eiland   110000        Pitcher    New York Yankees
3086  1991      John Habyan   105000        Pitcher    New York Yankees
3087  1991    Torey Lovullo   100000  Third Baseman    New York Yankees

[720 rows x 5 columns]
Year 1992


data       Year             Player   Salary        Position                Team
3088  1992       Chuck Finley  4375000         Pitcher  Los Angeles Angels
3089  1992      Mark Langston  3550000         Pitcher  Los Angeles Angels
3090  1992       Bryan Harvey  3125000         Pitcher  Los Angeles Angels
3091  1992        Gary Gaetti  2700000   Third Baseman  Los Angeles Angels
3092  1992      Lance Parrish  2416667         Catcher  Los Angeles Angels
...    ...                ...      ...             ...                 ...
3836  1992  Scott Kamieniecki   120000         Pitcher    New York Yankees
3837  1992       Jeff Johnson   115000         Pitcher    New York Yankees
3838  1992         John Ramos   109000         Catcher    New York Yankees
3839  1992       Willie Smith   109000         Pitcher    New York Yankees
3840  1992   Andy Stankiewicz   109000  Second Baseman    New York Yankees

[753 rows x 5 columns]
Year 1993


data       Year           Player   Salary       Position                Team
3841  1993     Chuck Finley  5375000        Pitcher  Los Angeles Angels
3842  1993     Kelly Gruber  4333334  Third Baseman  Los Angeles Angels
3843  1993    Mark Langston  3550000        Pitcher  Los Angeles Angels
3844  1993      Gary Gaetti  3000000  Third Baseman  Los Angeles Angels
3845  1993     Luis Polonia  2475000     Outfielder  Los Angeles Angels
...    ...              ...      ...            ...                 ...
4622  1993     Jeff Johnson   125000        Pitcher    New York Yankees
4623  1993    Sam Militello   118000        Pitcher    New York Yankees
4624  1993      Bob Wickman   116000        Pitcher    New York Yankees
4625  1993   Mike Humphreys   112000        Pitcher    New York Yankees
4626  1993  Gerald Williams   109000     Outfielder    New York Yankees

[786 rows x 5 columns]
Year 1994


data       Year              Player   Salary    Position                Team
4627  1994        Chuck Finley  3875000     Pitcher  Los Angeles Angels
4628  1994       Mark Langston  3550000     Pitcher  Los Angeles Angels
4629  1994         Chili Davis  2400000  Outfielder  Los Angeles Angels
4630  1994         Joe Magrane  1500000     Pitcher  Los Angeles Angels
4631  1994          Spike Owen  1250000   Shortstop  Los Angeles Angels
...    ...                 ...      ...         ...                 ...
5370  1994   Scott Kamieniecki   235000     Pitcher    New York Yankees
5371  1994     Bernie Williams   225000  Outfielder    New York Yankees
5372  1994         Bob Wickman   180000     Pitcher    New York Yankees
5373  1994     Gerald Williams   115000  Outfielder    New York Yankees
5374  1994  Sterling Hitchcock   112000     Pitcher    New York Yankees

[748 rows x 5 columns]
Year 1995


data       Year            Player   Salary           Position                Team
5375  1995     Mark Langston  5000000            Pitcher  Los Angeles Angels
5376  1995      Chuck Finley  4875000            Pitcher  Los Angeles Angels
5377  1995     Tony Phillips  4366667         Outfielder  Los Angeles Angels
5378  1995       Chili Davis  3800000  Designated Hitter  Los Angeles Angels
5379  1995        Spike Owen  3500000          Shortstop  Los Angeles Angels
...    ...               ...      ...                ...                 ...
6175  1995       Joe Ausanio   110000            Pitcher    New York Yankees
6176  1995  Brian Boehringer   109000            Pitcher    New York Yankees
6177  1995        Russ Davis   109000      Third Baseman    New York Yankees
6178  1995     Andy Pettitte   109000            Pitcher    New York Yankees
6179  1995    Mariano Rivera   109000            Pitcher    New York Yankees

[805 rows x 5 columns]
Year 1996


data       Year           Player   Salary           Position                Team
6180  1996    Mark Langston  5000000            Pitcher  Los Angeles Angels
6181  1996      Chili Davis  3800000  Designated Hitter  Los Angeles Angels
6182  1996     Chuck Finley  3000000            Pitcher  Los Angeles Angels
6183  1996       Tim Salmon  2500000         Outfielder  Los Angeles Angels
6184  1996       Jim Abbott  2200000            Pitcher  Los Angeles Angels
...    ...              ...      ...                ...                 ...
6943  1996      Derek Jeter   120000          Shortstop    New York Yankees
6944  1996  Robert Eenhoorn   119000          Shortstop    New York Yankees
6945  1996      Mark Hutton   119000            Pitcher    New York Yankees
6946  1996         Andy Fox   109000     Second Baseman    New York Yankees
6947  1996        Matt Luke   109000         Outfielder    New York Yankees

[768 rows x 5 columns]
Year 1997


data       Year            Player   Salary    Position                Team
6948  1997      Chuck Finley  4000000     Pitcher  Los Angeles Angels
6949  1997     Mark Langston  4000000     Pitcher  Los Angeles Angels
6950  1997        Tim Salmon  3500000  Outfielder  Los Angeles Angels
6951  1997    Gary DiSarcina  2600000   Shortstop  Los Angeles Angels
6952  1997       Jim Edmonds  2100000  Outfielder  Los Angeles Angels
...    ...               ...      ...         ...                 ...
7716  1997    David Weathers   435000     Pitcher    New York Yankees
7717  1997         Luis Sojo   400000   Shortstop    New York Yankees
7718  1997  Brian Boehringer   161100     Pitcher    New York Yankees
7719  1997      Ruben Rivera   158800  Outfielder    New York Yankees
7720  1997      Jorge Posada   158500     Catcher    New York Yankees

[773 rows x 5 columns]
Year 1998


data       Year             Player   Salary        Position                Team
7721  1998       Chuck Finley  5000000         Pitcher  Los Angeles Angels
7722  1998           Ken Hill  5000000         Pitcher  Los Angeles Angels
7723  1998         Tim Salmon  5000000      Outfielder  Los Angeles Angels
7724  1998       Allen Watson  2900000         Pitcher  Los Angeles Angels
7725  1998        Jim Edmonds  2800000      Outfielder  Los Angeles Angels
...    ...                ...      ...             ...                 ...
8562  1998  Darryl Strawberry   750000      Outfielder    New York Yankees
8563  1998       Willie Banks   290000         Pitcher    New York Yankees
8564  1998     Ramiro Mendoza   275000         Pitcher    New York Yankees
8565  1998       Jorge Posada   250000         Catcher    New York Yankees
8566  1998         Homer Bush   178900  Second Baseman    New York Yankees

[846 rows x 5 columns]
Year 1999


data       Year            Player   Salary       Position                Team
8567  1999         Mo Vaughn  7166666  First Baseman  Los Angeles Angels
8568  1999      Chuck Finley  5800000        Pitcher  Los Angeles Angels
8569  1999          Ken Hill  5500000        Pitcher  Los Angeles Angels
8570  1999        Tim Salmon  5500000     Outfielder  Los Angeles Angels
8571  1999       Tim Belcher  4650000        Pitcher  Los Angeles Angels
...    ...               ...      ...            ...                 ...
9481  1999       Ricky Ledee   202850     Outfielder    New York Yankees
9482  1999  Vidal Candelaria   200000        Catcher    New York Yankees
9483  1999    Casey Degroote   200000      Shortstop    New York Yankees
9484  1999   Mike Jerzembeck   200000        Pitcher    New York Yankees
9485  1999      Allen Watson   200000        Pitcher    New York Yankees

[919 rows x 5 columns]
Year 2000


data        Year              Player    Salary       Position                Team
9486   2000           Mo Vaughn  11166667  First Baseman  Los Angeles Angels
9487   2000          Tim Salmon   6000000     Outfielder  Los Angeles Angels
9488   2000            Ken Hill   5600000        Pitcher  Los Angeles Angels
9489   2000         Tim Belcher   4600000        Pitcher  Los Angeles Angels
9490   2000    Kent Bottenfield   4000000        Pitcher  Los Angeles Angels
...     ...                 ...       ...            ...                 ...
10324  2000          Todd Erdos    203800        Pitcher    New York Yankees
10325  2000           Ted Lilly    201000        Pitcher    New York Yankees
10326  2000  Luis De Los Santos    200000        Pitcher    New York Yankees
10327  2000    D'Angelo Jimenez    200000      Shortstop    New York Yankees
10328  2000        Nick Johnson    200000  First Baseman    New York Yankees

[843 rows x 5 columns]
Year 2001


data        Year            Player    Salary       Position                Team
10329  2001         Mo Vaughn  13166668  First Baseman  Los Angeles Angels
10330  2001        Tim Salmon   6500000     Outfielder  Los Angeles Angels
10331  2001   Garret Anderson   4500000     Outfielder  Los Angeles Angels
10332  2001      Darin Erstad   3450000     Outfielder  Los Angeles Angels
10333  2001     Troy Percival   3400000        Pitcher  Los Angeles Angels
...     ...               ...       ...            ...                 ...
11181  2001   Michael Coleman    204000     Outfielder    New York Yankees
11182  2001      Randy Choate    200000        Pitcher    New York Yankees
11183  2001  D'Angelo Jimenez    200000      Shortstop    New York Yankees
11184  2001  Christian Parker    200000        Pitcher    New York Yankees
11185  2001      Scott Seabol    200000  Third Baseman    New York Yankees

[857 rows x 5 columns]
Year 2002


data        Year            Player   Salary           Position                Team
11186  2002        Tim Salmon  9650000         Outfielder  Los Angeles Angels
11187  2002      Kevin Appier  9500000            Pitcher  Los Angeles Angels
11188  2002        Aaron Sele  7166667            Pitcher  Los Angeles Angels
11189  2002      Darin Erstad  6250000         Outfielder  Los Angeles Angels
11190  2002     Troy Percival  5250000            Pitcher  Los Angeles Angels
...     ...               ...      ...                ...                 ...
12030  2002      Randy Choate   223350            Pitcher    New York Yankees
12031  2002      Nick Johnson   220650  Designated Hitter    New York Yankees
12032  2002  Christian Parker   218600            Pitcher    New York Yankees
12033  2002     Randy Keisler   211400            Pitcher    New York Yankees
12034  2002       Jay Tessmer   210000            Pitcher    New York Yankees

[849 rows x 5 columns]
Year 2003


data        Year          Player    Salary       Position                Team
12035  2003    Kevin Appier  11500000        Pitcher  Los Angeles Angels
12036  2003      Tim Salmon   9900000     Outfielder  Los Angeles Angels
12037  2003      Aaron Sele   8166667        Pitcher  Los Angeles Angels
12038  2003   Troy Percival   7833333        Pitcher  Los Angeles Angels
12039  2003    Darin Erstad   7250000     Outfielder  Los Angeles Angels
...     ...             ...       ...            ...                 ...
12856  2003  Enrique Wilson    700000      Shortstop    New York Yankees
12857  2003      Jon Lieber    550000        Pitcher    New York Yankees
12858  2003    Chris Latham    400000     Outfielder    New York Yankees
12859  2003    Nick Johnson    364100  First Baseman    New York Yankees
12860  2003  Jason Anderson    300000        Pitcher    New York Yankees

[826 rows x 5 columns]
Year 2004


data        Year             Player    Salary           Position  \
12861  2004      Bartolo Colon  11000000            Pitcher
12862  2004  Vladimir Guerrero  11000000         Outfielder
12863  2004         Troy Glaus   9900000      Third Baseman
12864  2004         Tim Salmon   9900000  Designated Hitter
12865  2004         Aaron Sele   8666667            Pitcher
...     ...                ...       ...                ...
13689  2004     Enrique Wilson    700000          Shortstop
13690  2004  Orlando Hernandez    500000            Pitcher
13691  2004    Donovan Osborne    450000            Pitcher
13692  2004     Jorge De Paula    302550            Pitcher
13693  2004       Bubba Crosby    301400         Outfielder

                     Team
12861  Los Angeles Angels
12862  Los Angeles Angels
12863  Los Angeles Angels
12864  Los Angeles Angels
12865  Los Angeles Angels
...                   ...
13689    New York Yankees
13690    New York Yankees
13691    New York Yankees
13692    New York Yankees
13693    New York Yankees

[833 rows x 5 columns]
Year 2005


data        Year             Player    Salary        Position                Team
13694  2005  Vladimir Guerrero  12500000      Outfielder  Los Angeles Angels
13695  2005      Bartolo Colon  10000000         Pitcher  Los Angeles Angels
13696  2005    Garret Anderson   9600000      Outfielder  Los Angeles Angels
13697  2005       Darin Erstad   8250000   First Baseman  Los Angeles Angels
13698  2005    Jarrod Washburn   6500000         Pitcher  Los Angeles Angels
...     ...                ...       ...             ...                 ...
14520  2005     Tanyon Sturtze    850000         Pitcher    New York Yankees
14521  2005      John Flaherty    800000         Catcher    New York Yankees
14522  2005        Rey Sanchez    600000  Second Baseman    New York Yankees
14523  2005       Bubba Crosby    322950      Outfielder    New York Yankees
14524  2005      Andy Phillips    317200  Second Baseman    New York Yankees

[831 rows x 5 columns]
Year 2006


data        Year             Player    Salary       Position                Team
14525  2006      Bartolo Colon  14000000        Pitcher  Los Angeles Angels
14526  2006  Vladimir Guerrero  13500000     Outfielder  Los Angeles Angels
14527  2006    Garret Anderson  10600000     Outfielder  Los Angeles Angels
14528  2006       Darin Erstad   8750000  First Baseman  Los Angeles Angels
14529  2006        Jeff Weaver   8325000        Pitcher  Los Angeles Angels
...     ...                ...       ...            ...                 ...
15343  2006       Bubba Crosby    354250     Outfielder    New York Yankees
15344  2006    Chien-Ming Wang    353175        Pitcher    New York Yankees
15345  2006      Scott Proctor    352675        Pitcher    New York Yankees
15346  2006      Andy Phillips    333150  First Baseman    New York Yankees
15347  2006         Wil Nieves    328600        Catcher    New York Yankees

[823 rows x 5 columns]
Year 2007


data        Year             Player    Salary    Position                Team
15348  2007      Bartolo Colon  16000000     Pitcher  Los Angeles Angels
15349  2007  Vladimir Guerrero  14500000  Outfielder  Los Angeles Angels
15350  2007    Garret Anderson  11600000  Outfielder  Los Angeles Angels
15351  2007     Kelvim Escobar   9000000     Pitcher  Los Angeles Angels
15352  2007    Orlando Cabrera   8500000   Shortstop  Los Angeles Angels
...     ...                ...       ...         ...                 ...
16191  2007     Darrell Rasner    384523     Pitcher    New York Yankees
16192  2007        Enger Veras    382475     Pitcher    New York Yankees
16193  2007         Wil Nieves    382150     Catcher    New York Yankees
16194  2007          Sean Henn    382048     Pitcher    New York Yankees
16195  2007   Humberto Sanchez    380000     Pitcher    New York Yankees

[848 rows x 5 columns]
Year 2008


data        Year               Player    Salary    Position                Team
16196  2008         Torii Hunter  16500000  Outfielder  Los Angeles Angels
16197  2008    Vladimir Guerrero  15500000  Outfielder  Los Angeles Angels
16198  2008      Garret Anderson  12600000  Outfielder  Los Angeles Angels
16199  2008          Jon Garland  12000000     Pitcher  Los Angeles Angels
16200  2008  Francisco Rodriguez  10000000     Pitcher  Los Angeles Angels
...     ...                  ...       ...         ...                 ...
17049  2008     Jeffrey Karstens    393300     Pitcher    New York Yankees
17050  2008       Jon Albaladejo    393225     Pitcher    New York Yankees
17051  2008       Ross Ohlendorf    391425     Pitcher    New York Yankees
17052  2008     Joba Chamberlain    390000     Pitcher    New York Yankees
17053  2008     Humberto Sanchez    390000     Pitcher    New York Yankees

[858 rows x 5 columns]
Year 2009


data        Year             Player    Salary    Position                Team
17054  2009       Torii Hunter  18000000  Outfielder  Los Angeles Angels
17055  2009  Vladimir Guerrero  15000000  Outfielder  Los Angeles Angels
17056  2009      Gary Matthews  10400000  Outfielder  Los Angeles Angels

In [20]:
y.Year.count()

Year
1988    686
1989    710
1990    972
1991    720
1992    753
1993    786
1994    748
1995    805
1996    768
1997    773
1998    846
1999    919
2000    843
2001    857
2002    849
2003    826
2004    833
2005    831
2006    823
2007    848
2008    858
2009    818
2010    828
2011    843
Name: Year, dtype: int64

#  17. How to find out Team wise total count?

In [21]:
a.Team.count()

Team
Arizona Diamondbacks     389
Atlanta Braves           683
Baltimore Orioles        684
Boston Red Sox           692
Chicago Cubs             663
Chicago White Sox        648
Cincinnati Reds          681
Cleveland Indians        693
Colorado Rockies         528
Detroit Tigers           676
Florida Marlins          533
Houston Astros           660
Kansas City Royals       674
Los Angeles Angels       695
Los Angeles Dodgers      698
Milwaukee Brewers        690
Minnesota Twins          650
New York Mets            676
New York Yankees         685
Oakland Athletics        674
Philadelphia Phillies    695
Pittsburgh Pirates       669
San Diego Padres         673
San Francisco Giants     678
Seattle Mariners         684
St. Louis Cardinals      693
Tampa Bay Rays           398
Texas Rangers            711
Toronto Blue Jays        683
Washington Nationals     687
Name: Team, dtype: int64

# 18. How to find out Position wise total count?

In [22]:
p=m.groupby('Position')
for Position,data in p:
    print("Position",Position)
    print("\n")
    print("data",data)

Position Catcher


data        Year              Player    Salary Position                Team
4      1988           Bob Boone    883000  Catcher  Los Angeles Angels
7      1988       Butch Wynegar    733333  Catcher  Los Angeles Angels
18     1988      Darrell Miller    107500  Catcher  Los Angeles Angels
40     1988          Alan Ashby    450000  Catcher      Houston Astros
50     1988        Alex Trevino     62500  Catcher      Houston Astros
...     ...                 ...       ...      ...                 ...
19505  2011        Ramon Castro   1200000  Catcher   Chicago White Sox
19519  2011        Jorge Posada  13100000  Catcher    New York Yankees
19525  2011      Russell Martin   4000000  Catcher    New York Yankees
19537  2011  Francisco Cervelli    455700  Catcher    New York Yankees
19538  2011      Gustavo Molina    455000  Catcher    New York Yankees

[1664 rows x 5 columns]
Position Designated Hitter


data        Year             Player    Salary           Position  \
3      1988      Brian Downing    900000  Designated Hitter
58     1988         Don Baylor    532050  Designated Hitter
276    1988         Ron Kittle    300000  Designated Hitter
1477   1990         Ken Phelps    825000  Designated Hitter
1516   1990    Rance Mulliniks    520000  Designated Hitter
...     ...                ...       ...                ...
19155  2011  Vladimir Guerrero   7611455  Designated Hitter
19305  2011      Manny Ramirez   2020000  Designated Hitter
19358  2011        David Ortiz  12500000  Designated Hitter
19473  2011          Jim Thome   3000000  Designated Hitter
19489  2011          Adam Dunn  12000000  Designated Hitter

                     Team
3      Los Angeles Angels
58      Oakland Athletics
276     Cleveland Indians
1477    Oakland Athletics
1516    Toronto Blue Jays
...                   ...
19155   Baltimore Orioles
19305      Tampa Bay Rays
19358      Boston Red Sox
19473     Minnesota Twins
19489   Chicago White Sox

[109 rows x 5 columns]
Position First Baseman


data        Year          Player    Salary       Position                Team
11     1988    Wally Joyner    340000  First Baseman  Los Angeles Angels
41     1988     Glenn Davis    340000  First Baseman      Houston Astros
66     1988    Mark McGwire    280000  First Baseman   Oakland Athletics
93     1988    Fred McGriff    127500  First Baseman   Toronto Blue Jays
95     1988   Cecil Fielder    125000  First Baseman   Toronto Blue Jays
...     ...             ...       ...            ...                 ...
19428  2011   Kila Ka`aihue    419000  First Baseman  Kansas City Royals
19434  2011  Miguel Cabrera  20000000  First Baseman      Detroit Tigers
19462  2011  Justin Morneau  15000000  First Baseman     Minnesota Twins
19490  2011    Paul Konerko  12000000  First Baseman   Chicago White Sox
19515  2011   Mark Teixeira  23125000  First Baseman    New York Yankees

[1118 rows x 5 columns]
Position Infielder


data        Year              Player    Salary   Position                  Team
16847  2008         Juan Castro    975000  Infielder       Cincinnati Reds
16875  2008           Alex Cora   2000000  Infielder        Boston Red Sox
16995  2008        Matt Tolbert    390000  Infielder       Minnesota Twins
17103  2009         Jason Smith    500000  Infielder        Houston Astros
17298  2009        Ryan Roberts    400000  Infielder  Arizona Diamondbacks
17422  2009       Andy Gonzalez    420000  Infielder       Florida Marlins
17452  2009           Alex Cora   2000000  Infielder         New York Mets
17516  2009       Robert Andino    400000  Infielder     Baltimore Orioles
17699  2009          Nick Green    550000  Infielder        Boston Red Sox
17871  2009         Ramiro Pena    400000  Infielder      New York Yankees
18199  2010       Luis Valbuena    414700  Infielder     Cleveland Indians
18275  2010           Alex Cora   1850000  Infielder         New York Mets
18480  2010   Sean J. Rodriguez    405500  Infielder        Tampa Bay Rays
18698  2010         Ramiro Pena    412100  Infielder      New York Yankees
18873  2011       Erick Almonte    414000  Infielder     Milwaukee Brewers
18968  2011       Jamey Carroll   2285677  Infielder   Los Angeles Dodgers
19040  2011       Jared Goedert    414000  Infielder     Cleveland Indians
19132  2011  Jerry Hairston Jr.   2000000  Infielder  Washington Nationals
19176  2011       Robert Andino    421500  Infielder     Baltimore Orioles
19269  2011       Michael Young  16174974  Infielder         Texas Rangers
19314  2011   Sean J. Rodriguez    428600  Infielder        Tampa Bay Rays
Position Outfielder


data        Year             Player   Salary    Position                Team
1      1988    George Hendrick   989333  Outfielder  Los Angeles Angels
2      1988        Chili Davis   950000  Outfielder  Los Angeles Angels
10     1988  Tony Rafael Armas   425000  Outfielder  Los Angeles Angels
14     1988        Devon White   185000  Outfielder  Los Angeles Angels
21     1988        Thad Bosley    62500  Outfielder  Los Angeles Angels
...     ...                ...      ...         ...                 ...
19522  2011       Nick Swisher  9100000  Outfielder    New York Yankees
19523  2011  Curtis Granderson  8250000  Outfielder    New York Yankees
19530  2011       Andruw Jones  1500000  Outfielder    New York Yankees
19535  2011      Brett Gardner   529500  Outfielder    New York Yankees
19540  2011       Colin Curtis   420400  Outfielder    New York Yankees

[3785 rows x 5 columns]
Position Pitcher


data        Year           Player   Salary Position                Team
0      1988        Mike Witt  1400000  Pitcher  Los Angeles Angels
6      1988        Dan Petry   785000  Pitcher  Los Angeles Angels
9      1988      Greg Minton   525000  Pitcher  Los Angeles Angels
12     1988   Kirk McCaskill   262000  Pitcher  Los Angeles Angels
15     1988    Willie Fraser   125000  Pitcher  Los Angeles Angels
...     ...              ...      ...      ...                 ...
19532  2011      Boone Logan  1200000  Pitcher    New York Yankees
19533  2011    Bartolo Colon   900000  Pitcher    New York Yankees
19534  2011       Luis Ayala   650000  Pitcher    New York Yankees
19536  2011  David Robertson   460450  Pitcher    New York Yankees
19539  2011        Ivan Nova   432900  Pitcher    New York Yankees

[9160 rows x 5 columns]
Position Second Baseman


data        Year             Player    Salary        Position                Team
5      1988         Johnny Ray    857000  Second Baseman  Los Angeles Angels
16     1988      Mark McLemore    122500  Second Baseman  Los Angeles Angels
31     1988         Bill Doran    933000  Second Baseman      Houston Astros
45     1988      Jim Pankovits    150000  Second Baseman      Houston Astros
61     1988      Glenn Hubbard    425000  Second Baseman   Oakland Athletics
...     ...                ...       ...             ...                 ...
19484  2011       Matt Tolbert    425000  Second Baseman     Minnesota Twins
19508  2011     Gordon Beckham    485000  Second Baseman   Chicago White Sox
19510  2011  Brent Lillibridge    430000  Second Baseman   Chicago White Sox
19520  2011      Robinson Cano  10000000  Second Baseman    New York Yankees
19542  2011      Reegie Corona    414000  Second Baseman    New York Yankees

[1216 rows x 5 columns]
Position Shortstop


data        Year          Player    Salary   Position                Team
8      1988  Dick Schofield    552222  Shortstop  Los Angeles Angels
30     1988  Rafael Ramirez    950000  Shortstop      Houston Astros
38     1988  Craig Reynolds    500000  Shortstop      Houston Astros
76     1988      Walt Weiss     65000  Shortstop   Oakland Athletics
84     1988  Tony Fernandez    875000  Shortstop   Toronto Blue Jays
...     ...             ...       ...        ...                 ...
19446  2011  Ramon Santiago   1350000  Shortstop      Detroit Tigers
19476  2011   Alexi Casilla    865000  Shortstop     Minnesota Twins
19499  2011  Alexei Ramirez   2750000  Shortstop   Chicago White Sox
19518  2011     Derek Jeter  14729364  Shortstop    New York Yankees
19541  2011   Eduardo Nunez    419300  Shortstop    New York Yankees

[1331 rows x 5 columns]
Position Third Baseman


data        Year           Player    Salary       Position                Team
13     1988      Jack Howell    200000  Third Baseman  Los Angeles Angels
34     1988       Buddy Bell    790000  Third Baseman      Houston Astros
47     1988     Ken Caminiti     80000  Third Baseman      Houston Astros
51     1988  Carney Lansford   1535000  Third Baseman   Oakland Athletics
67     1988    Tony Phillips    262400  Third Baseman   Oakland Athletics
...     ...              ...       ...            ...                 ...
19500  2011    Dayan Viciedo   2250000  Third Baseman   Chicago White Sox
19502  2011     Omar Vizquel   1750000  Third Baseman   Chicago White Sox
19512  2011      Brent Morel    414000  Third Baseman   Chicago White Sox
19513  2011   Alex Rodriguez  32000000  Third Baseman    New York Yankees
19528  2011      Eric Chavez   1500000  Third Baseman    New York Yankees

[1139 rows x 5 columns]

In [23]:
p.Position.count()

Position
Catcher              1664
Designated Hitter     109
First Baseman        1118
Infielder              21
Outfielder           3785
Pitcher              9160
Second Baseman       1216
Shortstop            1331
Third Baseman        1139
Name: Position, dtype: int64

# 19. Show all records for the year 2010 & also count how many records?

In [24]:
year_2010=m[m.Year==2010]
year_2010.shape[0]

828

# 20. How to Sort records by player in ascending order for the year 2010?

In [25]:
year_2010.sort_values('Player').head(10)

       Year           Player    Salary        Position                  Team
18679  2010     A.J. Burnett  16500000         Pitcher      New York Yankees
18655  2010  A.J. Pierzynski   6750000         Catcher     Chicago White Sox
18540  2010       Aaron Cook   9625000         Pitcher      Colorado Rockies
18484  2010     Aaron Harang  12500000         Pitcher       Cincinnati Reds
18108  2010    Aaron Heilman   2150000         Pitcher  Arizona Diamondbacks
17964  2010       Aaron Hill   4000000  Second Baseman     Toronto Blue Jays
18198  2010     Aaron Laffey    421900         Pitcher     Cleveland Indians
18490  2010      Aaron Miles   2700000  Second Baseman       Cincinnati Reds
18152  2010     Aaron Rowand  13600000      Outfielder  San Francisco Giants
18291  2010        Adam Dunn  12000000   First Baseman  Washington Nationals

# 21. How to Sort column labels in ascending order for the year 2010?

In [26]:
year_2010.sort_index(axis=1,inplace=True)
year_2010

C:\Users\Raman\AppData\Local\Temp\ipykernel_7588\184412329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_2010.sort_index(axis=1,inplace=True)

                   Player    Position    Salary                Team  Year
17872        Torii Hunter  Outfielder  18500000  Los Angeles Angels  2010
17873         Bobby Abreu  Outfielder   9000000  Los Angeles Angels  2010
17874       Brian Fuentes     Pitcher   9000000  Los Angeles Angels  2010
17875        Scott Kazmir     Pitcher   8000000  Los Angeles Angels  2010
17876        Joel Pineiro     Pitcher   8000000  Los Angeles Angels  2010
...                   ...         ...       ...                 ...   ...
18695         Phil Hughes     Pitcher    447000    New York Yankees  2010
18696      Alfredo Aceves     Pitcher    435650    New York Yankees  2010
18697     David Robertson     Pitcher    426650    New York Yankees  2010
18698         Ramiro Pena   Infielder    412100    New York Yankees  2010
18699  Francisco Cervelli     Catcher    410800    New York Yankees  2010

[828 rows x 5 columns]

#  find year wise total count?

In [34]:
m.Year.value_counts()

1990    972
1999    919
2008    858
2001    857
2002    849
2007    848
1998    846
2000    843
2011    843
2004    833
2005    831
2010    828
2003    826
2006    823
2009    818
1995    805
1993    786
1997    773
1996    768
1992    753
1994    748
1991    720
1989    710
1988    686
Name: Year, dtype: int64

# Team wise

In [28]:
m.Team.value_counts()

Texas Rangers            711
Los Angeles Dodgers      698
Los Angeles Angels       695
Philadelphia Phillies    695
St. Louis Cardinals      693
Cleveland Indians        693
Boston Red Sox           692
Milwaukee Brewers        690
Washington Nationals     687
New York Yankees         685
Seattle Mariners         684
Baltimore Orioles        684
Atlanta Braves           683
Toronto Blue Jays        683
Cincinnati Reds          681
San Francisco Giants     678
New York Mets            676
Detroit Tigers           676
Kansas City Royals       674
Oakland Athletics        674
San Diego Padres         673
Pittsburgh Pirates       669
Chicago Cubs             663
Houston Astros           660
Minnesota Twins          650
Chicago White Sox        648
Florida Marlins          533
Colorado Rockies         528
Tampa Bay Rays           398
Arizona Diamondbacks     389
Name: Team, dtype: int64

# find highest paid salary with player name[show only 2 column]

In [29]:
year_2010.Salary.sort_values(ascending=False).head(2)

18675    33000000
18676    24285714
Name: Salary, dtype: int64

In [30]:
year_2010.loc[year_2010.Salary.sort_values(ascending=False).index[:2],['Player','Salary']]

               Player    Salary
18675  Alex Rodriguez  33000000
18676     CC Sabathia  24285714

In [36]:
year_2010.sort_values(by='Salary',ascending=False).head(10)

                Player       Position    Salary                   Team  Year
18675   Alex Rodriguez  Third Baseman  33000000       New York Yankees  2010
18676      CC Sabathia        Pitcher  24285714       New York Yankees  2010
18677      Derek Jeter      Shortstop  22600000       New York Yankees  2010
18678    Mark Teixeira  First Baseman  20625000       New York Yankees  2010
18263    Johan Santana        Pitcher  20144707          New York Mets  2010
18594   Miguel Cabrera  First Baseman  20000000         Detroit Tigers  2010
18264   Carlos Beltran     Outfielder  19401569          New York Mets  2010
17901       Carlos Lee     Outfielder  19000000         Houston Astros  2010
18071  Alfonso Soriano     Outfielder  19000000           Chicago Cubs  2010
18373      Ryan Howard  First Baseman  19000000  Philadelphia Phillies  2010